<div class="page-header">



  <p align=right><a href="/reviews/new" class="btn btn-primary">+ Review</a></p>

</div>
<div class="row" align="center">
  <h1> Offices</h1>
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search offices by typing company, city, or industry" class="form-control">
  </div>
</div>

<hr>

<div id="office-list" class="row">
  <%= render @offices %>
</div>












