<div class="page-header">


  <h1>Offices</h1>
</div>

<p><a href="/reviews/new" class="btn btn-primary">Add a New Review</a></p>
<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search offices by typing company, city, or industry" class="form-control">
  </div>
</div>

<hr>

<div id="office-list" class="row">
  <%= render @offices %>
</div>












